# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/

# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Rust/C++ artifacts
target/
build/
out/

# Android
.gradle/
local.properties
*.keystore

# Coverage
coverage/
